.books-container {
  width: 100%;
  margin: var(--component-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.books-container__books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.books-container__books.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
}

.books-container__pagination {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.books-container__pagination button {
  margin: 0 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.books-container__pagination button:disabled {
  color: gray;
}
