.cart {
  width: 100%;
  margin: var(--component-margin) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cart__cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart__cart-item h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.cart__cart-item div {
  margin: 0.2rem 0;
  font-size: 1rem;
  color: var(--secondary-color);
}

.cart button {
  background-color: var(--button-color-rose);
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.cart button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cart button:hover:not(:disabled) {
  background-color: #c0897a;
}

.cart h1 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 1rem;
}


.cart__address-fields {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart__address-fields input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cart__adress-fields-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}