.auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.auth-container-section p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.auth-container-section.inputs input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  margin: 0.3rem 0;
  font-size: 16px;
}

.auth-button {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: var(--button-color-rose);
}

.auth-redirect {
  margin: 1rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-redirect span {
  margin: 0 5px;
  color: var(--text-link-color);
  cursor: pointer;
}

.auth-redirect::before,
.auth-redirect::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 75px;
  height: 1px;
  background-color: #b1afaf;
}

.auth-redirect::before {
  left: -80px;
}

.auth-redirect::after {
  right: -80px;
}

.terms-of-service-text {
  color: var(--secondary-color);
}

.terms-of-service-text span {
  color: black;
  font-weight: 600;
}

.gender-selection {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}

.gender-selection label {
  padding: 0.2rem;
  margin-right: auto;
}

.gender-selection select {
  padding: 0.2rem;
  width: 30%;
  box-sizing: border-box;
  border: 1px solid #b1afaf;
  border-radius: 4px;
  outline: none;
  /* remove default select webkit appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('352021_arrow_drop down_icon.png') no-repeat right center
    transparent;
  background-size: 1.3em;
}

.error-message {
  color: red;
  margin: 0.5rem 0;
}
